/*[ FONT ]
///////////////////////////////////////////////////////////
*/



@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@font-face {
	font-family: Montserrat-Regular;
	src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
	font-family: Montserrat-Bold;
	src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
	font-family: Courgette-Regular;
	src: url('../fonts/courgette/Courgette-Regular.ttf');
}

@font-face {
	font-family: Poppins-Regular;
	src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
	font-family: Poppins-Medium;
	src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
	font-family: Poppins-Bold;
	src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
	font-family: Poppins-Light;
	src: url('../fonts/poppins/Poppins-Light.ttf');
}

@font-face {
	font-family: NotoSans-Regular;
	src: url('../fonts/notosans/NotoSans-Regular.ttf');
}


/*[ RESTYLE TAG ]
///////////////////////////////////////////////////////////
*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
}


/* ------------------------------------ */

a {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: #ec1d25;
}


/* ------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}

p {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul,
li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */

input {
	outline: none;
	border: none !important;
}

textarea {
	outline: none;
}

textarea:focus,
input:focus {
	border-color: transparent !important;
	box-shadow: 0 0 0px 2px #ec1d25;
	-moz-box-shadow: 0 0 0px 2px #ec1d25;
	-webkit-box-shadow: 0 0 0px 2px #ec1d25;
	-o-box-shadow: 0 0 0px 2px #ec1d25;
	-ms-box-shadow: 0 0 0px 2px #ec1d25;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus:-moz-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder {
	color: transparent;
}

input:focus:-ms-input-placeholder {
	color: transparent;
}

textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

textarea:focus:-moz-placeholder {
	color: transparent;
}

textarea:focus::-moz-placeholder {
	color: transparent;
}

textarea:focus:-ms-input-placeholder {
	color: transparent;
}

input::-webkit-input-placeholder {
	color: #aaaaaa;
}

input:-moz-placeholder {
	color: #aaaaaa;
}

input::-moz-placeholder {
	color: #aaaaaa;
}

input:-ms-input-placeholder {
	color: #aaaaaa;
}

textarea::-webkit-input-placeholder {
	color: #aaaaaa;
}

textarea:-moz-placeholder {
	color: #aaaaaa;
}

textarea::-moz-placeholder {
	color: #aaaaaa;
}

textarea:-ms-input-placeholder {
	color: #aaaaaa;
}


/* ------------------------------------ */

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/* ------------------------------------ */

.container {
	max-width: 1200px;
}

.slick-slide {
	outline: none !important;
}


/*[ LOADDING ]
///////////////////////////////////////////////////////////
*/

.animsition-loading-1 {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.cp-spinner {
	width: 40px;
	height: 40px;
	display: inline-block;
	box-sizing: border-box;
	position: relative
}

.cp-meter {
	border-radius: 50%;
	border-top: solid 6px #ec1d25;
	border-right: solid 6px #ec1d25;
	border-bottom: solid 6px #ec1d25;
	border-left: solid 6px #ec1d25;
	width: 48px;
	height: 48px;
	display: inline-block;
	box-sizing: border-box
}

.cp-meter:before {
	border-radius: 3px;
	content: " ";
	width: 6px;
	height: 12px;
	display: inline-block;
	box-sizing: border-box;
	background-color: #ec1d25;
	position: absolute;
	top: 5px;
	left: 16px;
	transform-origin: center bottom;
	animation: cp-meter-animate-before 1s linear infinite
}

@keyframes cp-meter-animate-before {
	0% {
		transform: rotate(-45deg)
	}
	100% {
		transform: rotate(315deg)
	}
}


/*[ BACK TO TOP ]
///////////////////////////////////////////////////////////
*/

.btn-back-to-top {
	display: none;
	position: fixed;
	width: 40px;
	height: 40px;
	bottom: 40px;
	right: 40px;
	background-color: black;
	opacity: 0.5;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	border-radius: 4px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

.symbol-btn-back-to-top {
	font-size: 22px;
	color: white;
	line-height: 1em;
}

.btn-back-to-top:hover {
	opacity: 1;
	cursor: pointer;
}

@media (max-width: 576px) {
	.btn-back-to-top {
		bottom: 15px;
		right: 15px;
	}
}
/*[ Logo ]
-----------------------------------------------------------
*/

.logo {
	height: 50px;
}

.logo>a {
	display: block;
	height: 100%;
}

.logo>a>img {
	width: auto;
	max-height: 100%;
	vertical-align: middle;
}





.menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

@media (max-width: 1200px) {	
	.logo {
		height: 45px;
	}
}




/*[ Gallery footer ]
///////////////////////////////////////////////////////////
*/

.item-gallery-footer {
	display: block;
	position: relative;
	width: calc((100% - 50px) / 4);
	margin-right: 10px;
	margin-bottom: 10px;
}

.item-gallery-footer::after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.item-gallery-footer:hover:after {
	background-color: rgba(236, 29, 37, 0.7);
}


/*[ Item mainmenu ]
///////////////////////////////////////////////////////////
*/


@media (max-width: 576px) {	
	.price-item-mainmenu {
		padding-top: 5px;
	}
	.name-item-mainmenu {
		width: 100%;
	}
}

/*[ Gallery ]
///////////////////////////////////////////////////////////
*/




/* ------------------------------------ */

.wrap-gallery {
	width: 100%;
	box-sizing: border-box;
}

.item-gallery {
	width: calc( (100% - 140px) / 3);
	margin: 30px 15px;
	position: relative;
}

.overlay-item-gallery {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(236, 29, 37, 0.8);
	opacity: 0;
}

.overlay-item-gallery:hover {
	opacity: 1;
}



@media (max-width: 768px) {
	.item-gallery {
		width: calc((100% - 110px) / 2);
	}
}

@media (max-width: 576px) {
	.item-gallery {
		width: calc((100% - 30px) / 1);
	}
	.wrap-gallery {
		padding-left: 0;
		padding-right: 0;
	}
}

